# Extract, Transform, Load

## Load and Inspect the Data

Understand the raw data — check columns, types, shape, duplicates and any obvious issues

In [24]:
#Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
os.makedirs("images", exist_ok=True)

In [25]:
# Load the dataset
df = pd.read_csv("../data/inputs/raw/BankChurners.csv")
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [26]:
df.shape

(10127, 23)

In [27]:
# Check data types and null values
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

In [28]:
# Check for duplicates
df.duplicated().sum()

0

# Basic Data Clean

CLIENTNUM — a customer ID, not useful for analysis.
Columns that start with Naive_Bayes_Classifier... we need to remove them

In [29]:
 # Drop CLIENTNUM as it is not needed
df.drop(columns=['CLIENTNUM'], inplace=True)

# drop all columns starting with "Naive_Bayes_Classifier"

df = df.loc[:, ~df.columns.str.startswith('Naive_Bayes_Classifier')]

# Create the Target Varieble (churn)

We need to convert the text column Attrition_Flag into a binary column churn that we can use for analysis and modeling.
"Existing Customer" → 0 (not churned)
"Attrited Customer" → 1 (churned)

In [30]:
# Create a new column 'Churn' based on 'Attrition_Flag'
df['Churn'] = df['Attrition_Flag'].apply(lambda x: 1 if x == 'Attrited Customer' else 0)

# Drop the 'Attrition_Flag' column
df.drop(columns=["Attrition_Flag"], inplace=True)

# Check the distribution of the 'Churn' column
df['Churn'].value_counts()

Churn
0    8500
1    1627
Name: count, dtype: int64

# Encode Categorical Variables
Convert text columns into numbers so that they can be used in analysis or modeling.

In [31]:
# List of categorical columns to be encoded
cat_cols = ["Gender", "Education_Level", "Marital_Status", "Income_Category",
            "Card_Category"]
# One-hot encode categorical columns
df = pd.get_dummies(df, columns=cat_cols, drop_first=True)

# check the data types after encoding
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Customer_Age                    10127 non-null  int64
 1   Dependent_count                 10127 non-null  int64
 2   Months_on_book                  10127 non-null  int64
 3   Total_Relationship_Count        10127 non-null  int64
 4   Months_Inactive_12_mon          10127 non-null  int64
 5   Contacts_Count_12_mon           10127 non-null  int64
 6   Credit_Limit                    10127 non-null  float64
 7   Total_Revolving_Bal             10127 non-null  int64
 8   Avg_Open_To_Buy                 10127 non-null  float64
 9   Total_Amt_Chng_Q4_Q1            10127 non-null  float64
 10  Total_Trans_Amt                 10127 non-null  int64
 11  Total_Trans_Ct                  10127 non-null  int64
 12  Total_Ct_Chng_Q4_Q1             10127 non-null  float64
 13  Avg_Utilization_Ratio           10127 non-null  float64
 14  Churn                           10127 non-null  int64
 15  Gender_M                        10127 non-null  bool
 16  Education_Level_Doctorate       10127 non-null  bool
 17  Education_Level_Graduate        10127 non-null  bool
 18  Education_Level_High School     10127 non-null  bool
 19  Education_Level_Post-Graduate   10127 non-null  bool
 20  Education_Level_Uneducated      10127 non-null  bool
 21  Education_Level_Unknown         10127 non-null  bool
 22  Marital_Status_Married          10127 non-null  bool
 23  Marital_Status_Single           10127 non-null  bool
 24  Marital_Status_Unknown          10127 non-null  bool
 25  Income_Category_$40K - $60K     10127 non-null  bool
 26  Income_Category_$60K - $80K     10127 non-null  bool
 27  Income_Category_$80K - $120K    10127 non-null  bool
 28  Income_Category_Less than $40K  10127 non-null  bool
 29  Income_Category_Unknown         10127 non-null  bool
 30  Card_Category_Gold              10127 non-null  bool
 31  Card_Category_Platinum          10127 non-null  bool
 32  Card_Category_Silver            10127 non-null  bool
dtypes: bool(18), float64(5), int64(10)
memory usage: 1.3 MB

# Feature Engineering
Create new columns that help us better understand customer behavior and predict churn more effectively.

* credit_limit_usage = How much of their credit limit the customer is using.

* avg_balance	= Ratio of average open-to-buy to total credit limit.

* trans_per_month	= Average number of transactions per month.

* avg_amt_per_trans =	Average transaction amount

* tenure_category = Grouping of customers based on how long they've been with the bank

In [32]:
# 1. Credit limit usage ratio
df["credit_limit_usage"] = df["Total_Revolving_Bal"] / df["Credit_Limit"]

# 2.Avarege available balance
df["avg_balance"] = df["Avg_Open_To_Buy"] / df["Credit_Limit"]

# 3. Transaction per month
df["trans_per_month"] = df["Total_Trans_Ct"] / df["Months_on_book"]

# 4. Average amount per transaction
df["avg_amt_per_trans"] = df["Total_Trans_Amt"] / df["Total_Trans_Ct"]

# 5. Tenure Category based on Months_on_book
df["tenure_category"] = pd.cut(
    df["Months_on_book"],
    bins=[0, 12, 24, 36, 48, 60],
    labels=["<1 Year", "1-2 Years", "2-3 Years", "3-4 Years", "4-5 Years"]
)

# Quick check of the new features
df[["credit_limit_usage", "avg_balance", "trans_per_month", "avg_amt_per_trans", "tenure_category"]].head()

,credit_limit_usage,avg_balance,trans_per_month,avg_amt_per_trans,tenure_category
0,0.061224,0.938776,1.076923,27.238095,3-4 Years
1,0.104651,0.895349,0.750000,39.121212,3-4 Years
2,0.000000,1.000000,0.555556,94.350000,2-3 Years
3,0.759734,0.240266,0.588235,58.550000,2-3 Years
4,0.000000,1.000000,1.333333,29.142857,1-2 Years

### Check your actual column names

In [33]:
print(df.columns.tolist())

['Customer_Age', 'Dependent_count', 'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Churn', 'Gender_M', 'Education_Level_Doctorate', 'Education_Level_Graduate', 'Education_Level_High School', 'Education_Level_Post-Graduate', 'Education_Level_Uneducated', 'Education_Level_Unknown', 'Marital_Status_Married', 'Marital_Status_Single', 'Marital_Status_Unknown', 'Income_Category_$40K - $60K', 'Income_Category_$60K - $80K', 'Income_Category_$80K - $120K', 'Income_Category_Less than $40K', 'Income_Category_Unknown', 'Card_Category_Gold', 'Card_Category_Platinum', 'Card_Category_Silver', 'credit_limit_usage', 'avg_balance', 'trans_per_month', 'avg_amt_per_trans', 'tenure_category']

In [37]:
# Lowercase all column names
df.columns = df.columns.str.lower()

# Combine columns into one column

* Education Level
* Income Category
* Marital Status
* Card Category

In [ ]:
# Combine education level columns into a single column
education_cols = [
    'education_level_doctorate',
    'education_level_graduate',
    'education_level_high school',
    'education_level_uneducated',
    'education_level_unknown',
    'education_level_post-graduate'
]

# Create the combined column
df['education_level'] = df[education_cols].idxmax(axis=1)

# Clean the new column by removing the prefix
df['education_level'] = df['education_level'].str.replace('education_level_', '', regex=False)

# Drop the old education columns
df.drop(columns=education_cols, inplace=True)

In [40]:
# Combine the income category columns into a single column
income_cols = [
    'income_category_$40k - $60k',
    'income_category_$60k - $80k',
    'income_category_$80k - $120k',
    'income_category_less than $40k',
    'income_category_unknown'
]

# Create the new combined column
df['income_category'] = df[income_cols].idxmax(axis=1)

# Clean the new column name
df['income_category'] = df['income_category'].str.replace('income_category_', '', regex=False)

# Drop the old income columns
df.drop(columns=income_cols, inplace=True)

In [41]:
# Combine the marital status columns into a single column
marital_cols = [
    'marital_status_married',
    'marital_status_single',
    'marital_status_unknown'
]

# Combine into one column
df['marital_status'] = df[marital_cols].idxmax(axis=1)

# Clean the new column values
df['marital_status'] = df['marital_status'].str.replace('marital_status_', '', regex=False)

# Drop the old marital status columns
df.drop(columns=marital_cols, inplace=True)

In [42]:
# Combine the card category columns into a single column
card_cols = [
    'card_category_gold',
    'card_category_platinum',
    'card_category_silver'
]

# Combine the one-hot encoded columns
df['card_category'] = df[card_cols].idxmax(axis=1)

# Clean the values by removing the prefix
df['card_category'] = df['card_category'].str.replace('card_category_', '', regex=False)

# Drop the old card category columns
df.drop(columns=card_cols, inplace=True)

# Group by Age
### Age bins:
* 35 and under
* 36–45
* 46–55
* 56–65
* Over 65

In [43]:
# Define bins and labels for the 'age' column
bins = [0, 35, 45, 55, 65, float('inf')]
labels = ['35 and under', '36-45', '46-55', '56-65', 'Over 65']

# Create the new column
df['age_group'] = pd.cut(df['customer_age'], bins=bins, labels=labels, right=True)

# Final Clean-up & Export

In [44]:
# Final check for missing values
df.isnull().sum()

# Check final shape and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_age              10127 non-null  int64
 1   dependent_count           10127 non-null  int64
 2   months_on_book            10127 non-null  int64
 3   total_relationship_count  10127 non-null  int64
 4   months_inactive_12_mon    10127 non-null  int64
 5   contacts_count_12_mon     10127 non-null  int64
 6   credit_limit              10127 non-null  float64
 7   total_revolving_bal       10127 non-null  int64
 8   avg_open_to_buy           10127 non-null  float64
 9   total_amt_chng_q4_q1      10127 non-null  float64
 10  total_trans_amt           10127 non-null  int64
 11  total_trans_ct            10127 non-null  int64
 12  total_ct_chng_q4_q1       10127 non-null  float64
 13  avg_utilization_ratio     10127 non-null  float64
 14  churn                     10127 non-null  int64
 15  gender_m                  10127 non-null  bool
 16  credit_limit_usage        10127 non-null  float64
 17  avg_balance               10127 non-null  float64
 18  trans_per_month           10127 non-null  float64
 19  avg_amt_per_trans         10127 non-null  float64
 20  tenure_category           10127 non-null  category
 21  education_level           10127 non-null  object
 22  income_category           10127 non-null  object
 23  marital_status            10127 non-null  object
 24  card_category             10127 non-null  object
 25  age_group                 10127 non-null  category
dtypes: bool(1), category(2), float64(9), int64(10), object(4)
memory usage: 1.8+ MB

In [46]:
df.to_csv("../data/inputs/cleaned/BankChurners_cleaned.csv", index=False)